<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810301399890-dvr6qiik2qtb3h8ni1nou3lpdaqtcupt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810301399890-dvr6qiik2qtb3h8ni1nou3lpdaqtcupt</string>
	<key>API_KEY</key>
	<string>AIzaSyDOOoPZruRN6veK73aAU9uDCcxu82srANA</string>
	<key>GCM_SENDER_ID</key>
	<string>810301399890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hussain.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-24c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-24c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810301399890:ios:a1a92ca326c5adfc47908b</string>
</dict>
</plist>